.challenges-list-container {
  padding: 2rem;
  flex: 1;
}
.challenges-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.challenges-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
