.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* El padding ya está en App-main, podemos reducirlo o quitarlo aquí para evitar doble padding */
  padding: 1rem; 
  text-align: center;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.home-buttons {
  margin-bottom: 1rem;
}

.home-animation {
  margin-top: auto;
  /* Hacemos la animación fluida */
  max-width: 300px;  /* Tendrá un máximo de 300px */
  width: 80%;        /* Pero ocupará el 80% del contenedor si es más pequeño */
  height: auto;      /* Mantiene la proporción si es una imagen o Lottie */

  margin-left: auto;
  margin-right: auto;
}